body {
    padding: 0;
    margin: 0;
}

.nav-main {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80px;
    display: flex;
    background-color: white; 
}

.title {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

.title-link {
    text-decoration: none;
    color: black; 
}

.nav-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0px;
    padding: 0px;
    margin: 0;
    height: 100vh;
    background-color: #7da9c2;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.nav-sidebar ul {
    overflow: hidden;
    visibility: hidden;
}

.nav-main ul li {
    visibility: hidden;
}

.nav-sidebar ul li {
    line-height: 40px;
    list-style: none;
    border-bottom: 1px solid #e6e6e6;
    width: fit-content;
}

.nav-sidebar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color:  white; 
    font-family: 'Barlow', sans-serif;
    letter-spacing: 2px;
}

.btn-toggle-nav {
    width: 50px;
    height: 100%;
    background-image: url(9961263041586786441-128.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    cursor: pointer;
    float: left;
}

.nav-main ul li {
    visibility: hidden;
}

.logo {
    width: 200px;
    height: auto; 
    margin-top: 5px;
}

.fas {
    visibility: hidden;
    float: right; 
    color: white; 
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer; 
}

@media only screen and (min-width: 840px) {

    .nav-main {
        display: inline-block;
        height: 100px; 
    }

    .nav-main ul li {
        visibility: visible;
        list-style: none;
        margin: 20px; 
        display: inline-block;
        padding: 0px;
    }

    a {
        text-decoration: none;
        font-size: 20px; 
        font-family: 'Nunito';
        font-weight: bold; 
        color:  #7da9c2;
    }

    .desktop-links {
        float: right; 
        height: 100px;
        vertical-align: middle;
        display: flex;
        align-items: center;
        margin-right: 150px; 
    }

    .btn-toggle-nav {
        display: none; 
    }

    .logo {
        float: left;
        margin-left: 150px;  
        width: 250px;
        height: auto;
    }

    .title {
        display: inline-block;
        width: fit-content;
    }

    }

