body {
    padding: 0;
    margin: 0;
}

.nav-main {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 60px;
    display: flex;
    background-color: white; 
}

.title {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

.title-link {
    text-decoration: none;
    color: black; 
}

.nav-sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 0px;
    padding: 0px;
    margin: 0;
    height: calc(100vh - 60px);
    background-color: #0f0f0f;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.nav-sidebar ul {
    overflow: hidden;
    visibility: hidden;
}

.nav-main ul li {
    visibility: hidden;
}

.nav-sidebar ul li {
    line-height: 40px;
    list-style: none;
    border-bottom: 1px solid #e6e6e6;
    width: fit-content;
}

.nav-sidebar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color:  #e6e6e6;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 2px;
}

.btn-toggle-nav {
    width: 50px;
    height: 100%;
    background-image: url(9961263041586786441-128.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    cursor: pointer;
    float: left;
}

.nav-main ul li {
    visibility: hidden;
}

.iframe-container img {
    height: auto;
    background-color: white;
}

.logo {
    width: 200px;
    height: auto; 
    margin-top: 20px;
}