<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <app-header></app-header>
    <div>
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHWyC2gqnrBjg/profile-displayphoto-shrink_800_800/0?e=1605139200&v=beta&t=xkM_KdMjr5VB-sEu4fqCEHfvv9LpZ4uOR7-TYbhh2Jk" class="alice">
        <h4>Alice Griffin</h4>
        <p>Summary info</p>
        <a href="https://www.linkedin.com/in/alice-k-griffin/" class="fa fa-linkedin"></a>
        <a href="http://github.com/alice-griffin">
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" class="github">
        </a>
    </div>

    <div>
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQF--Lqsn42Rxg/profile-displayphoto-shrink_200_200/0?e=1605139200&v=beta&t=sPUPZODGYz9YT4Qgw2PPViPsgK9SrSJkdw7zrIwmu1Y" class="seth">
        <h4>Gerard Dickerson</h4>
        <p>Summary info</p>
        <a href="https://www.linkedin.com/in/gerard-dickerson-087baa181/" class="fa fa-linkedin"></a>
        <a href="https://github.com/GerardD1">
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" class="github">
        </a>
    </div>

    <div>
        <img src="https://media-exp1.licdn.com/dms/image/C5603AQHebve-exa9IA/profile-displayphoto-shrink_800_800/0?e=1605139200&v=beta&t=X2FTFVLS33KUIw_AzFXG0_MvZ9Be34CkX5SFEyz-uCs" class="gerard">
        <h4>Seth Rosen</h4>
        <p>Summary info</p>
        <a href="https://www.linkedin.com/in/seth-rosen-05963b175/" class="fa fa-linkedin"></a>
        <a href="https://github.com/rosenset">
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" class="github">
        </a>
    </div>
</body>