<body>
<app-header></app-header>
<div class="container">
  <h3>What is it?</h3>
  <p class="description">WeatherTunes is made by three music lovers who wanted to create a fun, unique way to discover new music. It doesn't matter where you are or what you're doing, WeatherTunes will make you the perfect playlist to fit any mood.</p>
  <h3>Meet the creators:</h3>
  <div class="profiles">
    <div class="alice">
      <img
        src="https://media-exp1.licdn.com/dms/image/C4E03AQHWyC2gqnrBjg/profile-displayphoto-shrink_800_800/0?e=1605139200&v=beta&t=xkM_KdMjr5VB-sEu4fqCEHfvv9LpZ4uOR7-TYbhh2Jk"
        class="alice-pic" />
      <h4>Alice Griffin</h4>
      <div class="icons">
        <a href="https://www.linkedin.com/in/alice-k-griffin/">
          <img src="https://www.iconfinder.com/data/icons/logotypes/32/square-linkedin-512.png" class="linkedin"></a>
        <a href="http://github.com/alice-griffin">
          <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" class="github" />
        </a>
      </div>
    </div>

    <div class="gerard">
      <img
        src="https://media-exp1.licdn.com/dms/image/C4D03AQF--Lqsn42Rxg/profile-displayphoto-shrink_200_200/0?e=1605139200&v=beta&t=sPUPZODGYz9YT4Qgw2PPViPsgK9SrSJkdw7zrIwmu1Y"
        class="seth-pic" />
      <h4>Gerard Dickerson</h4>
      <div class="icons">
        <a href="https://www.linkedin.com/in/gerard-dickerson-087baa181/">
          <img src="https://www.iconfinder.com/data/icons/logotypes/32/square-linkedin-512.png" class="linkedin">
        </a>
        <a href="https://github.com/GerardD1">
          <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" class="github" />
        </a>
      </div>
    </div>

    <div class="seth">
      <img
        src="https://media-exp1.licdn.com/dms/image/C5603AQHebve-exa9IA/profile-displayphoto-shrink_800_800/0?e=1605139200&v=beta&t=X2FTFVLS33KUIw_AzFXG0_MvZ9Be34CkX5SFEyz-uCs"
        class="gerard-pic" />
      <h4>Seth Rosen</h4>
      <div class="icons">
        <a href="https://www.linkedin.com/in/seth-rosen-05963b175/">
          <img src="https://www.iconfinder.com/data/icons/logotypes/32/square-linkedin-512.png" class="linkedin"></a>
        <a href="https://github.com/rosenset">
          <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" class="github" />
        </a>
      </div>
    </div>
  </div>
</div>
</body>