.parent-container {
    display: flex;
    justify-content: center;
}

.playlist-container {
    font-family: 'Barlow', 'sans serif';
    width: 85%;
    display: flex; 
    flex-direction: column;
    background-color: white;
    padding: 10px; 
    margin-top: 15px; 
    border: 1px solid orange; 
}

.playlist-container:hover {
    background-color: #ededed;
}

.album-info {
    display: flex;
    justify-content: flex-start; 
}

img {
    align-self: center;
}

img:hover {
    opacity: 0.7;
    cursor: pointer; 
}

span {
    display: block; 
    padding: 5px; 
    margin-left: 5px; 
}

.far {
    font-size: 24px; 
}

.preview-btns {
    display: inline-block;
    vertical-align: middle;
}

.preview-text {
    font-style: italic;
    font-size: 14px;
    padding: 3px;
}

@media only screen and (min-width: 768px) {

    .playlist-container {
        flex-direction: row;
        justify-content: space-between;
    }


    
}