<div class="parent-container">
    <div class="playlist-container">
        <div class="album-info">
            <img [src]="child.album.images[2].url">
            <div class="song-info">
                <span [style.font-weight]="'bold'">{{child.album.artists[0].name}}</span>
                <span [style.font-style]="'italic'">{{child.name}}</span>
            </div>
        </div>
        <div class="preview-btns">
            <div class="preview-text">Preview:</div>
            <audio id="player" controls [src]="child.preview_url"></audio>
        </div>
    </div>

</div>