.parent-container {
    display: flex;
    justify-content: center;
}

.playlist-container {
    display: flex;
    font-family: 'Barlow', 'sans serif';
    width: 75%; 
}

span {
    display: block; 
    padding: 5px; 
    margin-left: 5px; 
}

.fas {
    font-size: 24px; 
}