.form-container {
    display: flex; 
    justify-content: center;
    background-color: white;
    border-radius: 25px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.text-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.text-inputs input {
    border: none;
    border-bottom: 1px solid #0f0f0f;
    width: fit-content;
    padding: 5px 10px; 
    font-family: 'Barlow', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

.weather-icon {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    font-family: 'Barlow', 'sans-serif';
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 120px;
    color: black; 
    background: rgb(15,35,79);
    background: linear-gradient(90deg, rgba(15,35,79,1) 21%, rgba(253,123,83,1) 87%);
    height: 3px;
    cursor: grab; 
    margin: 0;
    padding: 0;
}

.slider-labels li {
    list-style: none;
    padding: 0;
    display: inline-block;
}

.slider:active {
    cursor: grabbing; 
}

.label-sad {
    vertical-align: middle;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-size: 12px; 
    padding: 5px; 
}

.label-happy {
    vertical-align: middle;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-size: 12px;
    padding: 5px; 
}

.slider-title {
    display: flex; 
    justify-content: center;
}

.fas {
    font-size: 36px; 
    margin-bottom: 40px;
    color: #FFA500;
}

.playlist-btn {
    display: block; 
    border: none; 
    font-size: 16px;
    font-family: 'Nunito', 'Helvetica', 'Arial';
    cursor: pointer; 
    width: 150px; 
    padding: 12px;
    margin: 20px; 
    border-radius: 25px;
    background-color: #b8e0f7; 
    transition: all 0.3s ease 0s;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.playlist-btn:hover {
    transform: translateY(-7px);
}

.switch-field {
    display: flex;
    justify-content: center;
    line-height: 16px; 
    margin: 20px; 
}

.input-btn {
    margin: 5px;
    display: block; 
    border: none; 
    font-size: 12px;
    font-family: 'Nunito', 'Helvetica', 'Arial';
    cursor: pointer; 
    line-height: 16px;
    border-radius: 25px;
    background-color: #b8e0f7;
    transition: all 0.3s ease 0s;
}

.input-btn:hover {
    transform: translateY(-7px);
}

.form-inputs {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.zip-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
}

.genre-artist-inputs {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}

.zipcode-input {
    display: flex;
    justify-content: center;
}

#zip-error, #artist-error {
    font-size: 11px;
    color: red; 
    font-family: 'Helvetica', 'Arial';
    display: flex;
    justify-content: center;
}

p {
    font-family: 'Barlow', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.header-txt {
    color: #7da9c2;
    font-weight: bold; 
}

@media only screen and (min-width: 804px) {

    .form-container {
        width: 100%;
        border-radius: 0%;
        margin-left: 0;
        margin-right: 0;
    }

    .form-content {
        display: flex; 
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .zip-input, .form-inputs {
        height: 30px;
        margin-top: 20px;
    }

    .header-txt {
        font-size: 24px;
        font-weight: bold;
    }

    .slide-container {
        display: flex; 
        flex-direction: row;
        align-items: center;
    }

    .slider-with-labels {
        margin-left: 10px;
        padding: 0;
    }

    .buttons-input {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: nowrap;
    }

}