.text-inputs {
    display: flex;
    flex-direction: column;
}

.text-inputs input {
    border: none;
    border-bottom: 1px solid #0f0f0f;
    width: fit-content;
    padding: 5px 10px; 
    font-family: 'Barlow', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

.weather-icon {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    font-family: 'Barlow', 'sans-serif';
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 150px;
    color: black; 
    background: rgb(15,35,79);
    background: linear-gradient(90deg, rgba(15,35,79,1) 21%, rgba(253,123,83,1) 87%);
    height: 3px;
    cursor: grab; 
    margin: 0;
    padding: 0;
}

.slider-labels li {
    list-style: none;
    padding: 0;
    display: inline-block;
}

.slider:active {
    cursor: grabbing; 
}

.label-sad {
    vertical-align: middle;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-size: 12px; 
    padding: 5px; 
}

.label-happy {
    vertical-align: middle;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-size: 12px;
    padding: 5px; 
}

p {
    font-family: 'Barlow', sans-serif;
}

.slider-title {
    display: flex; 
    justify-content: center;
}

.fas {
    font-size: 36px; 
    margin-bottom: 40px; 
}

button {
    display: block; 
    border: none; 
    font-size: 16px;
    font-family: 'Nunito', 'Helvetica', 'Arial';
    cursor: pointer; 
    width: 150px; 
    padding: 12px;
    margin: 20px; 
    border-radius: 25px;
}