<form class="form2Class" #searchMusicForm="ngForm" (submit)="searchFormSubmitted(searchMusicForm)">
    <div class="text-inputs">
        <input placeholder="Enter your zip code." name="zipCode" type="number" id="zipCode" ngModel>
        <input placeholder="Type in an Artist." name="artist" type="text" id="artist" ngModel>
    </div>
    <div class="slidecontainer">
        <input type="range" step="0.1" min="0" max="1" value="0.5" class="slider" name="valence" ngModel>
    </div>
    <button>Get Playlist</button>
    <i class="fas fa-arrow-circle-down"></i>
</form>

<div [style.display]="isSubmitted ? 'block' : 'none' "><img id="wi-icon" [src]="this.iconUrl">